/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  background-color:transparent;
  color: #333;
  line-height: 1.6;
  height: 100vh; /* Full viewport height */
  padding: 0; /* Adjusted padding */
  position: relative;
}

h1 {
  color: #007bff;
  padding: 20px; /* Adding padding back to h1 specifically */
  margin-bottom: 0; /* Adjusting margin for h1 */
  z-index: 999;
}

#chat-container {
  flex-grow: 1;
  overflow-y: auto;
  padding: 20px; /* Padding for chat container */
  display: flex;
  flex-direction: column;
}

.input-container {
  display: flex;
  background: #fff;
  padding: 10px 20px; /* Padding around input and button */
  box-shadow: 0 -2px 4px rgba(0,0,0,0.1); /* Shadow to lift input area visually */
}

input[type="text"] {
  flex-grow: 1; /* Allow input to fill space */
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-right: 10px; /* Space between input and button */
  font-size: 16px;
}

button {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

.user {
  background-color: white;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  border-radius: 5px;
  align-self: flex-end; /* Align user messages to the right */
  background-color: #dcf8c6; /* Light green background for user messages */
}

p {
  background-color: #f7f7f7; /* 浅灰色背景 */
  padding: 10px; /* 文字周围的间距 */
  margin: 5px 0; /* 消息之间的间距 */
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); /* 阴影效果 */
  align-self: flex-start; /* Align GPT responses to the left */
  background-color: #f0f0f0; /* Light grey background for responses */
}

#statusIndicator {
  color: #2c3e50;
  font-size: 1.2em;
  padding: 10px 20px; /* Padding added */
}

#currentStage {
  font-weight: bold;
  color: #e74c3c;
}

#color-button {
  position: fixed;
  top: 10px;
  right: 10px;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: grab; /* 手形光标表示可以拖拽 */
}



/* background */
canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}



@media (max-width: 768px) {
  .input-container {
      flex-direction: column; /* Stack input elements under narrow conditions */
  }

  input[type="text"], button {
      width: 100%; /* Full width for smaller screens */
      margin-right: 0; /* Adjust margin for responsive design */
  }

  button {
      margin-top: 10px; /* Space between input and button on small screens */
  }

  .p {
      max-width: 768px; /* Full width messages on smaller screens */
  }
}
