/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  background-color:transparent;
  color: #414141;
  line-height: 1.6;
  height: 100vh; /* Full viewport height */
  padding: 0; /* Adjusted padding */
  position: relative;
  background-image: url('img/mainbackground.png'); /* 替换 'path/to/your/background.png' 为图片的实际路径 */
  background-size: cover; /* 背景图片覆盖整个可视区域 */
  background-position: center; /* 背景图片调整位置 */
  background-repeat: no-repeat; /* 背景图片不重复 */
}

h1 {
  background-color: transparent;
  color: #F93921;
  padding: 10px; /* Adding padding back to h1 specifically */
  margin-bottom: 0; /* Adjusting margin for h1 */
  z-index: 999;
  margin-left:20px;
  font-size: 42px;
}

h2 {
  background-color: transparent;
  position: fixed;      /* 固定位置，无论滚动条如何移动 */
  bottom: 0;            /* 设置距离页面底部的距离为 0 */
  left: 0;              /* 设置距离页面左边的距离为 0 */
  width: 100%;          /* 宽度设置为 100%，覆盖整个页面宽度 */
  color: #c9c9c9;
  padding: 10px;
  margin-bottom: 0;     /* 底部边距为 0 */
  z-index: 999;         /* 高层级以确保在最上面显示 */
  font-size: 11px;
}



#chat-container {
  flex-grow: 1;
  overflow-y: auto;
  padding: 60px; /* Padding for chat container */
  display: flex;
  flex-direction: column;
}

.input-container {
  display: flex;
  background: #fff;
  padding: 10px 20px; /* Padding around input and button */
  box-shadow: 0 -2px 4px rgba(255, 255, 255, 0.1); /* Shadow to lift input area visually */
}


input[type="text"]::placeholder {
  color: #909090; /* 你想要的颜色，这里是灰色示例 */
  opacity: 1; /* 有时需要设置透明度为1来确保颜色正确显示 */
}


input[type="text"] {
  max-width: 60%;
  flex-grow: 1; /* Allow input to fill space */
  border: 1px solid #F93921;
  border-radius: 5px;
  padding: 10px;
  margin-right: 10px; /* Space between input and button */
  margin-left: 320px;
  font-size: 16px;
  /* margin: 0 auto; */
  margin-right: 4px; 
}


input[type="text"]:focus {
  outline: none; /* 移除默认轮廓 */
  border-color: #872E1C; /* 设置新的边框颜色 */
}


button {
  background-color: #F93921;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #872E1C;
}

.user {
  color: white;
  box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  align-self: flex-end; /* Align user messages to the right */
  background-color: #F93921; /* Light green background for user messages */
}

p {
  background-color: #ffffff; /* 浅灰色背景 */
  padding: 10px; /* 文字周围的间距 */
  margin: 5px 0; /* 消息之间的间距 */
  border-radius: 5px;
  border-color: #F93921;
  box-shadow: 0 1px 3px #F93921; /* 阴影效果 */
  align-self: flex-start; /* Align GPT responses to the left */
  max-width: 60%; /* 最大宽度为容器的80% */
}


/*#statusIndicator {
  color: #2c3e50;
  font-size: 1.2em;
  padding: 10px 20px; /* Padding added */
/*}*/

#currentStage {
  font-weight: bold;
  color: #e74c3c;
}

/* #color-button {
  position: fixed;
  top: 10px;
  right: 10px;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: grab; /* 手形光标表示可以拖拽 */
/* } */



/* background */
canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}




/* 走马灯 */
.marquee {
  position: relative;
  overflow: hidden; /* 隐藏超出部分 */
  width: 100%;
  height: 30px; /* 根据内容调整高度 */
  display: flex;
  align-items: center;
  background-color: #ffffff; /* 背景颜色，根据需要调整 */
}

.marquee-content {
  position: absolute;
  display: flex; /* 设置为flex布局让短语排列在一行 */
  animation: marquee 30s linear infinite; /* 动画时间根据总文案长度调整 */
}

.marquee-content p {
  font-family: 'Roboto', sans-serif; 
  color: #F93921;
  border-inline-start-style: 10px;
  white-space: nowrap; /* 不换行 */
  margin-right: 150px; /* 设置短语之间的间隔 */
  background-color: transparent; /* 文本背景透明 */
  padding: 0; /* 移除填充 */
  box-shadow: none; /* 移除阴影 */
  
}






@keyframes marquee {
  from {
    left: 100%; /* 从右侧开始 */
  }
  to {
    left: -100%; /* 完全从左侧离开视图 */
  }
}




@media (max-width: 768px) {
  .input-container {
      flex-direction: column; /* Stack input elements under narrow conditions */
  }

  input[type="text"], button {
      width: 100%; /* Full width for smaller screens */
      margin-right: 0; /* Adjust margin for responsive design */
  }

  button {
      margin-top: 10px; /* Space between input and button on small screens */
  }

  .p {
      max-width: 768px; /* Full width messages on smaller screens */
  }
}
